{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>About the maintainer's blog</title>
<h4>About the maintainer's blog</h4>
<br/>
<div class="card border-dark mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="{% static 'FQKn9E3XMAMY4JIprofile_pic_1_resized.jpg' %}" class="img-fluid rounded-start" width="256" height="256">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">Vũ Đức Thắng</h5>
        <p class="card-text">
          <p>I am currently a K48 student learning Computer Science at Can Tho University.</p>
          <p>My hobby: learning code, reading books and playing Genshin Impact</p>
          <p>I make this blog in order to make the space to share your ideas, tooltips and guides about Genshin Impact!</p>
        </p>
        <p class="small text-muted">
          <a href="https://www.facebook.com/hoanghieu.vu.3576/">Facebook</a> |
          <a href="https://twitter.com/Scorbun96857469">Twitter</a> |
          <a href="https://www.instagram.com/victinimi/">Instagram</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}