{% extends 'base.html' %}
{% block content %}
<title>Add your post</title>
<h1>Add Post</h1>
<br/><br/>
{% if user.is_authenticated %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
    {{ form.media }}
    {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-info" >Post</button>
</form>
<script>
    var name = "{{user.id}}";
    document.getElementById("admin").value = name;
</script>
{% else %}
This page only allows users that already login to. Please login to continue.
{% endif %}
{% endblock %}
