{% extends 'base.html' %}
{% block content %}
  <title>Social media links for Genshin Impact</title>
  <h3>Social media links for Genshin Impact</h3>
  <div class="card border-info text-center mb-3">
    <div class="card-header">Youtube</div>
    <div class="card-body">
      <p class="card-text">Official Youtube channel of Genshin Impact</p>
      <a href="https://www.youtube.com/@GenshinImpact" class="btn btn-info">Go to Youtube</a>
    </div>
  </div>
  <div class="card border-info text-center mb-3">
    <div class="card-header">Facebook</div>
    <div class="card-body">
      <p class="card-text">Official Facebook page of Genshin Impact</p>
      <a href="https://www.facebook.com/GenshinImpact" class="btn btn-info">Go to Facebook</a>
    </div>
  </div>
  <div class="card border-info text-center mb-3">
    <div class="card-header">Twitter (now as X)</div>
    <div class="card-body">
      <p class="card-text">Official Twitter (now as X) page of Genshin Impact</p>
      <a href="https://twitter.com/GenshinImpact" class="btn btn-info">Go to X (Twitter)</a>
    </div>
  </div>
  <div class="card border-info text-center mb-3">
    <div class="card-header">Discord</div>
    <div class="card-body">
      <p class="card-text">Official Discord chat of Genshin Impact</p>
      <a href="https://discord.com/invite/genshinimpact" class="btn btn-info">Go to Discord</a>
    </div>
  </div>
  <div class="card border-info text-center mb-3">
    <div class="card-header">Instagram</div>
    <div class="card-body">
      <p class="card-text">Official Instagram of Genshin Impact</p>
      <a href="https://www.instagram.com/genshinimpact/" class="btn btn-info">Go to Instagram</a>
    </div>
  </div>
  {% endblock %}
